* {
	/* `otf-font-awesome` is required to be installed for icons */
	font-family: monospace, FontAwesome;/*, Roboto, Helvetica, Arial, sans-serif;*/
	font-size: 14px;
	min-height: 0;
}

window#waybar {
	background-color: rgba(157, 98, 175, 0.534);
	border-bottom: 3px solid rgba(146, 56, 142, 0.5);
	color: #ffffff;
	transition-property: background-color;
	transition-duration: .25s;
}

window#waybar.hidden {
	opacity: 0.2;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
	background-color: #73038a;
}

#workspaces {
	background-color: rgba(80, 80, 80, 0.404);
	border-radius: 15px;
}


#workspaces button {
	background-color: transparent;
	color: #ffffff;
	border-radius: 15px;
}

#workspaces button:hover {
	background-color: rgba(241, 111, 220, 0.2);
}

#workspaces button.urgent {
	background-color: #eb4d4b;
}

#workspaces button.active {
	background-color: rgba(223, 62, 238, 0.329);
	background-size: 400% 400%;
}

#mode {
	background-color: #64727D;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
	padding: 0 10px;
	color: #ffffff;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
	margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
	margin-right: 0;
}

#clock {
	background-color: #ac5ef5;
	border-radius: 15px;
}

#battery {
	background-color: #ffffff;
	color: #000000;
}

#battery.charging, #battery.plugged {
	color: #ffffff;
	background-color: #26A65B;
}

@keyframes blink {
	to {
		background-color: #ffffff;
		color: #000000;
	}
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
	background-color: #f53c3c;
	color: #ffffff;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#power-profiles-daemon {
	padding-right: 15px;
}

#power-profiles-daemon.performance {
	background-color: #f53c3c;
	color: #ffffff;
}

#power-profiles-daemon.balanced {
	background-color: #2980b9;
	color: #ffffff;
}

#power-profiles-daemon.power-saver {
	background-color: #2ecc71;
	color: #000000;
}

label:focus {
	background-color: #000000;
}

#cpu {
	background-color: #f06084;
	border-radius: 15px;
	border: solid 3px #ff80ad
}

#memory {
	background-color: #ee6571;
	border-radius: 15px;
	border: solid 3px #ff80ad
}

#disk {
	background-color: #964B00;
}

#backlight {
	background-color: #90b1b1;
}

#network {
	background-color: #b9298e;
	border-radius: 15px;
}

#network.disconnected {
	background-color: #f53c3c;
}

#pulseaudio {
	background-color: #bc10cc;
	color: #e4cbe7;
	border-radius: 15px;
}

#pulseaudio.muted {
	background-color: #90b1b1;
	color: #2a5c45;
}

#wireplumber {
	background-color: #fff0f5;
	color: #000000;
}

#wireplumber.muted {
	background-color: #f53c3c;
}

#custom-media {
	background-color: #701bbe;
	color: #bea6ce;
	min-width: 100px;
	border-radius: 15px;
}

#custom-media-previous {
	background-color: #6817c5;
	color: #bea6ce;
	min-width: 30px;
	font-size: 16px;
	border-radius: 15px;
}

#custom-media-next {
	background-color: #6d19a5;
	color: #bea6ce;
	min-width: 30px;
	font-size: 16px;
	border-radius: 15px;
}

#custom-media.custom-spotify {
	background-color: #560983;
}

#custom-media.custom-vlc {
	background-color: #63053f;
}

#custom-hyprlock {
	background-color: #dd44aa;
	border-radius: 15px;
	min-width: 30px;
}

#temperature {
	background-color: #f0932b;
}

#temperature.critical {
	background-color: #eb4d4b;
}

#tray {
	background-color: #b929ad;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
}

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	background-color: #eb4d4b;
}

#idle_inhibitor {
	background-color: #2d3436;
}

#idle_inhibitor.activated {
	background-color: #ecf0f1;
	color: #2d3436;
}

#mpd {
	background-color: #66cc99;
	color: #2a5c45;
}

#mpd.disconnected {
	background-color: #f53c3c;
}

#mpd.stopped {
	background-color: #90b1b1;
}

#mpd.paused {
	background-color: #51a37a;
}

#language {
	min-width: 30px;
	color: rgba(230, 220, 200, 0.8);
	background-color: rgba(170, 45, 200, 0.4);
	border-radius: 15px;
}

#keyboard-state {
	background: #97e1ad;
	color: #000000;
	padding: 0 0px;
	margin: 0 5px;
	min-width: 16px;
}

#keyboard-state > label {
	padding: 0 5px;
}

#keyboard-state > label.locked {
	background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
	background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
	padding: 0;
}

#privacy-item {
	padding: 0 5px;
	color: white;
}

#privacy-item.screenshare {
	background-color: #cf5700;
}

#privacy-item.audio-in {
	background-color: #1ca000;
}

#privacy-item.audio-out {
	background-color: #0069d4;
}
